@use 'sass:color';

// HELPER COLORS
$color-black: #000;
$color-white: #fff;
$color-lightgray: #d8d8d8;
$color-gray: #808080;
$color-darkgray: #303030;
$color-red: #e63939;
$color-green: #6ca632;
$color-blue: #259df4;
$color-orange: #ff781f;
$color-yellow: #e3d112;

// THEME COLORS
$color-light: $color-white;
$color-dark: rgba($color-darkgray, 0.85);

// primary
$color-primary: #d10069;
$color-primary-hover: #f140a9;
$color-primary-gradient-1: $color-primary;
$color-primary-gradient-2: #f140a9;

// secondary
$color-secondary: #4abea1;
$color-secondary-hover: #2a9e81;
$color-secondary-gradient-1: #4abea1;
$color-secondary-gradient-2: #2a9e81;

// STATUSES
$color-error: $color-red;
$color-success: $color-green;

// TYPOGRAPHY
$color-text: $color-black;
$color-text-secondary: color.adjust($color-text, $lightness: 20%);
$color-text-dark: $color-white;
$color-text-dark-secondary: color.adjust($color-white, $lightness: -5%);

// statuses
$color-info: $color-blue;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-error: $color-red;
$color-disabled: $color-gray;

//themes
$color-theme-dark: $color-dark;
$color-theme-dark-font: $color-white;
$color-theme-dark-hover: color.adjust($color-theme-dark, $lightness: 10%);

$color-theme-light: $color-white;
$color-theme-light-font: $color-text;
$color-theme-light-hover: $color-light;

// elements
$color-border: $color-lightgray;
$color-link: $color-primary;
$color-bg: $color-light;
$color-label: $color-primary;
$color-input-bg: $color-white;
$color-blend: rgba($color-black, 0.5);
$color-hover: rgba($color-primary, 0.05);
$color-hover-dark: rgba($color-primary, 0.9);
$color-overlay: rgba($color-darkgray, 0.6);
